@media (min-width: 0px) {
	.text-link,
	.fancy-link,
	.solid-link,
	.ghost-link,
	.underline-text-link {
		font-family: var(--primary-font);
		font-weight: light;
		font-size: clamp(1rem, 1.75vw, 1.25rem);
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		color: #d8d8d8;
	}

	.fancy-link {
		color: var(--text-color-light);
		background: linear-gradient(
			to bottom right,
			var(--accent-color) 30%,
			var(--highlight-color)
		);
		overflow: hidden;
	}

	.ghost-link {
		outline: 2px solid var(--accent-color);
	}

	.solid-link {
		color: #ffffff;
		background-color: var(--accent-color);
	}

	.solid-link:hover {
		background-color: var(--highlight-color);
	}

	.underline-text-link {
		position: relative;
	}

	.underline-text-link::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 80%;
		translate: -50% 0%;
		background-color: var(--secondary-color);
		width: 60%;
		height: 0.1rem;
		border-radius: 10%;
	}

	.underline-text-link:hover::after {
		background-color: var(--accent-color);
	}
}
