@media (min-width: 0px) {
	#nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: fit-content;
		background: none;
		padding: 3rem 1rem;
		background-color: rgba(0, 0, 0, 0);
		align-items: center;
		position: relative;
	}

	#nav-bar.scroll {
		background-color: #f7f7f7;
	}

	#logo-wrapper {
		width: 10rem;
		height: auto;
	}

	.nav-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-evenly;
		padding: 0rem 0rem;
		position: absolute;
		left: 100%;
		background-color: red;
	}

	.nav-list.open {
		left: 75%;
	}

	.nav-item {
		margin: 0rem 1.25vw;
	}

	.link {
		transition: 0.2s ease-in background-color, 0.3s color ease;
	}

	#login-link,
	#signup-link {
		translate: 0px;
		transition: 0.3s translate;
	}

	@media (pointer: fine) {
		.link:hover {
			color: var(--text-color-light);
			background-color: rgba(255, 255, 255, 0.2);
			transition: 0.2s ease background-color, 0.3s color ease;
		}

		#login-link:hover,
		#signup-link:hover {
			translate: 0px -2px;
			transition: 0.3s ease-out translate;
		}
	}

	#account-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0rem;
		align-items: center;
	}
}

@media (min-width: 1024px) {
	.nav-list {
		flex-direction: row;
		align-items: center;
		padding: 0;
		position: static;
		background-color: transparent;
	}

	#link-container-1 {
		margin-left: auto;
	}

	#link-container-4 {
		margin-right: auto;
	}

	#account-wrapper {
		flex-direction: row;
		gap: 2rem;
	}
}
