@media (min-width: 0px) {
	#nav-background {
		background-color: var(--primary-color);
	}

	#nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: fit-content;
		background: none;
		padding: 3rem 1rem;
		align-items: center;
		position: relative;
		z-index: 999;
	}

	#nav-bar.scroll {
		background-color: #f7f7f7;
	}

	#logo-wrapper {
		width: 13rem;
		height: auto;
	}

	.nav-list,
	.nav-list-open {
		top: 0%;
		width: 100vw;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.25rem;
		flex: 1;
		padding: 0rem 0rem;
		position: absolute;
		background-color: var(--tertiary-color);
		height: 100vh;
		z-index: -1;
	}

	.nav-list {
		left: 100%;
		visibility: hidden;
		opacity: 0;
		transition: left 0.2s ease-in, opacity 0s, visibility 0s;
		transition-delay: 0s, 0.2s, 0.2s;
	}

	.nav-list-open {
		left: 0%;
		visibility: visible;
		opacity: 1;
		transition: left 0.2s ease;
	}

	.link {
		transition: 0.2s ease-in background-color, 0.3s color ease;
	}

	#account-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0rem;
		align-items: center;
	}
}

@media (min-width: 1024px) {
	.nav-list,
	.nav-list-open {
		flex-direction: row;
		align-items: center;
		padding: 0;
		position: static;
		background-color: transparent;
		justify-content: space-evenly;
		opacity: 1;
		height: 100%;
		visibility: visible;
	}

	.nav-list-open {
		translate: 0%;
		transition: none;
	}

	.nav-item {
		margin: 0rem 1.25vw;
	}

	#login-link,
	#signup-link {
		translate: 0px;
		transition: 0.3s translate;
	}

	@media (pointer: fine) {
		.link:hover {
			color: var(--text-color-light);
			background-color: rgba(255, 255, 255, 0.2);
			transition: 0.2s ease background-color, 0.3s color ease;
		}

		#login-link:hover,
		#signup-link:hover {
			translate: 0px -2px;
			transition: 0.3s ease-out translate;
		}
	}

	#link-container-1 {
		margin-left: auto;
	}

	#link-container-4 {
		margin-right: auto;
	}

	#account-wrapper {
		flex-direction: row;
		gap: 2rem;
	}
}
