@media (min-width: 0px) {
	#hero-section {
		height: fit-content;
	}

	#content-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.heading-wrapper {
		width: fit-content;
		position: relative;
		overflow: hidden;
		padding-left: 0.25rem;
		text-wrap: nowrap;
	}

	.heading-wrapper::before,
	.heading-wrapper::after {
		content: '';
		width: 50%;
		position: absolute;
		left: 0%;
		bottom: 0%;
	}

	/* border line under the text */
	.heading-wrapper::after {
		height: 3px;
		background-color: var(--primary-color);
	}

	.heading-wrapper::before {
		height: 100%;
		background: linear-gradient(to top, var(--primary-color), transparent 40%);
	}

	.heading-text {
		font-family: var(--primary-font);
		text-transform: uppercase;
		font-weight: bolder;
		font-size: clamp(2.75em, 7vw, 5em);
	}

	.use-text-enter {
		font-weight: 900;
		display: inline-block;
		transition: translate 0.2s ease;
	}

	.use-text-exit {
		font-weight: 900;
		display: inline-block;
		translate: 0% 100%;
		transition: translate 0.2s ease, color 0s;
		transition-delay: 0s, 0.2s;
	}

	.accent-glow {
		color: var(--accent-color);
		filter: drop-shadow(0px 0px 2px rgb(255, 255, 0)) drop-shadow(0px 0px 3px #fbff27);
	}

	.highlight-glow {
		color: var(--highlight-color);
		filter: drop-shadow(0px 0px 3px var(--highlight-color));
	}

	.tertiary-glow {
		color: var(--tertiary-color);
		filter: drop-shadow(0px 0px 2px rgb(255, 100, 0)) drop-shadow(0px 0px 3px #ff741e);
	}

	.subheading-text {
		font-family: var(--secondary-font);
	}

	.link-wrapper {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: clamp(1rem, 2vw, 1.2rem);
	}

	#canvas-container {
		height: 30rem;
		width: 100%;
		max-width: 40rem;
		margin-left: auto;
		position: relative;
		z-index: 1;
	}
}

@media (min-width: 768px) {
	#content-container {
		flex: 1;
		flex-direction: row;
		gap: 1rem;
	}

	.heading-split {
		display: none;
	}

	.link-wrapper {
		flex-direction: row;
	}

	.heading-wrapper::after,
	.heading-wrapper::before {
		left: 50%;
	}

	#canvas-container::after {
		content: '';
		width: 100%;
		height: 100%;
		background: radial-gradient(circle at center, var(--tertiary-color) -50%, transparent 50%);
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
	}
}
