@import url('../component-global.css');

:root {
	--primary-color: #301f3a;
	--secondary-color: #a11328;
	--tertiary-color: #ff7e2e;
	--accent-color: #fcff52;
	--highlight-color: #006880;

	--text-color-light: #ffffff;
	--text-color-dark: #000000;

	--section-padding: clamp(3.75rem, 7.75vw, 6.25rem) 1rem;
}

html,
body {
	min-height: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	height: 100vh;
	background: linear-gradient(
		to bottom right,
		var(--secondary-color),
		var(--primary-color)
	);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

strong {
	font-weight: normal;
}

em {
	font-style: normal;
}

.title {
	font-size: 2em;
}

.container {
	max-width: 80.5rem;
	margin: auto;
}

.section {
	height: fit-content;
	width: 100%;
	padding: var(--section-padding);
}

.full-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

.no-scroll {
	overflow-y: hidden;
}
